<section class="contact-section">
  <div class="container">
    <h2 class="section-title">{{ 'CONTACT.TITLE' | translate }}</h2>
    
    <div class="contact-content">
      <p class="contact-text">
        {{ 'CONTACT.DESCRIPTION' | translate }}
        <a href="mailto:valentin.absalon.data&#64;gmail.com">valentin.absalon.data&#64;gmail.com</a>
      </p>

      <div class="contact-buttons">
        <a href="https://www.linkedin.com/in/valentin-absalon-559819210/" target="_blank" rel="noopener noreferrer" class="contact-button">
          {{ 'CONTACT.BUTTONS.LINKEDIN' | translate }}
        </a>
        <a href="mailto:valentin.absalon.data&#64;gmail.com" class="contact-button">
          {{ 'CONTACT.BUTTONS.MAIL' | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
