<section class="contact-section">
  <div class="container">
    <h2 class="section-title">CONTACT</h2>
    
    <div class="contact-content">
      <p class="contact-text">
        Si vous avez des questions, n'hésitez pas à me contacter sur Linkedin ou par e-mail
        <a href="mailto:valentin.data&#64;gmail.com">valentin.data&#64;gmail.com</a>
      </p>

      <div class="contact-buttons">
        <a href="https://www.linkedin.com/in/valentin-absalon-559819210/" target="_blank" rel="noopener noreferrer" class="contact-button">
          LINKEDIN
        </a>
        <a href="mailto:valentin.absalon&#64;gmail.com" class="contact-button">
          MAIL
        </a>
      </div>
    </div>
  </div>
</section>
