<div class="app-container">
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">
        < VALENTIN >
      </a>
    </div>
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
