main {
  padding-top: var(--navbar-height);
  min-height: 100vh;
  position: relative;
  z-index: 1;

  section {
    position: relative;
    padding: 4rem 0;

    &:first-child {
      padding-top: 2rem;
    }

    &:last-child {
      padding-bottom: 6rem;
    }
  }
}

@media (max-width: 768px) {
  main section {
    padding: 3rem 0;

    &:first-child {
      padding-top: 1rem;
    }
  }
}
